# run with pip3 install -r requirements.txt
flask==0.12.2
flask-login==0.4.1
flask-openid==1.2.5
flask-mail==0.9.1
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
rauth
